header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin-left: 7rem;
}

input {
  background-color: #f8f9fa;
}

.inicio {
  border: none;
  margin-right: 10rem;
  cursor: pointer;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__total {
  position: relative;
  margin-top: 3rem;
}

.btn_buttons {
  padding: 15px;
  gap: 10px;
  display: flex;
  align-items: center;
}

.Todos {
  background-color: #fd377e;
  color: #ffffff;

  box-sizing: border-box;

  width: 69px;
  height: 40px;

  border-radius: 8px;
}
.Entradas {
  color: #000000;
}
.Despesas {
  color: #000000;
}

.Todos,
.Entradas,
.Despesas {
  margin: 1rem;
}
.Nu {
  color: #fd377e;
}

button {
  border: none;
  margin-right: 4rem;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.descricaoNukezie {
  font-weight: 800;
  font-size: 38px;

  line-height: 48px;
}

.EntraNaPagina {
  width: 241px;
  height: 48px;
  border-radius: 8px;
  padding: 13px, 20px, 13px, 20px;

  gap: 10px;
  background-color: #fd377e;
  color: #f8f9fa;
}

ul {
  list-style: none;
  max-height: 16rem;
  overflow-y: auto;
  width: 28rem;
}

ul::-webkit-scrollbar {
  width: 2px;
}

ul::-webkit-scrollbar-track {
  background: #fd377e;
}

ul::-webkit-scrollbar-thumb {
  background-color: #000000;
}

ul::-webkit-scrollbar-button {
  width: 2px;
}

@media (max-width: 941px) {
  .flex {
    flex-direction: column;
  }

  .form__total,
  .formulario_total {
    width: 100%;
  }

  .bg_TotalMoney {
    text-align: center;
  }

  .display_justify {
    justify-content: center;
  }

  .valorQuantia {
    margin-left: 1rem;
  }

  article {
    width: 100%;
  }
}

@media (max-width: 468px) {
  .btn_buttons {
    flex-direction: column;
  }
  ul {
    max-width: 75%;
  }

  li {
    width: 50%;
  }

  .form__total {
    max-width: 100%;
  }

  .flex {
    max-width: 100%;
  }

  .inserirValor,
  .descricao {
    width: 13rem;
  }
}

@media (max-width: 320px) {
  h1 {
    margin-left: 11px;
  }
  .inicio {
    margin: 11px;
  }
  .form__total {
    width: 90%;
    margin: 0 auto;
  }
}
